uv
aiohttp
numpy
langchain
pandas
openai
nashpobench2api
huggingface_hub
transformers
scikit_learn
scikit_optimize
scipy
tiktoken
torch
ConfigSpace
pymoo==0.6.0
paretoset
ConfigSpace
google-generativeai
groq
scipy
scikit_learn
autoawq
accelerate
seaborn
fastparquet